<nav class="navbar navbar-dark bg-dark" style="color: #e3f2fd;">
  <h2 class="ms-5">InSales</h2>
  <div class="d-flex">
    <% if user_signed_in? %>
      <%= image_tag(current_user.avatar_url, size: "32x32", class: "me-3") if current_user.avatar_url %>
      <h4 class="me-5" ><%= link_to current_user.full_name, admin_products_path, class: "text-decoration-none link-light" %></h4>
    <% end %>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar">
      <%= link_to "Home", products_path, class: "nav-link navbar-brand link-dark" %>
      <%= link_to "+ Add new Category", new_admin_category_path, class: "btn btn-dark",
                                                            data: { turbo_frame: dom_id(Category.new) }  %>
      <%= link_to "All categories", admin_categories_path, class: "nav-link navbar-brand link-dark ms-3" %>
    </div>
    <div class="nav-link link-dark">
      <% if user_signed_in? %>
        <div class="d-flex">
          <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete,
                                                                        class: "btn btn-danger" %>
        </div>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-secondary" %>
        <%= link_to "Create Account", new_user_registration_path, class: "btn btn-secondary ms-3"   %>
      <% end %>
    </div>
  </div>
</nav>
