<div class="bg-light d-flex justify-content-center footer">
  <div class="main-footer">
    <div class="row">
      <div class="col">
        <ul class="list-inline m-5">
          <h6>Menu 1</h6>
          <li class="mb-2 mt-3"><%= link_to "Store addresses", "#", class: "text-decoration-none link-dark" %></li>
          <li class="mb-2"><%= link_to "Promotions and discounts", "#", class: "text-decoration-none link-dark" %></li>
          <li class="mb-2"><%= link_to "For legal entities", "#", class: "text-decoration-none link-dark" %></li>
          <li class="mb-2"><%= link_to "How to order", "#", class: "text-decoration-none link-dark" %></li>
          <li class="mb-2"><%= link_to "Exchange and return", "#", class: "text-decoration-none link-dark" %></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-inline m-5">
          <h6>Menu 2</h6>
          <li class="mb-2 mt-3"><%= link_to "Personal account", "#", class: "text-decoration-none link-dark" %></li>
          <li class="mb-2"><%= link_to "My orders", "#", class: "text-decoration-none link-dark" %></li>
          <li class="mb-2"><%= link_to "Questions and answers", "#", class: "text-decoration-none link-dark" %></li>
          <li class="mb-2"><%= link_to "Return policy", "#", class: "text-decoration-none link-dark" %></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-inline m-5">
          <h6>Menu 3</h6>
          <li class="mb-2 mt-3"><%= link_to "Privacy policy and offer", "#", class: "text-decoration-none link-dark" %></li>
          <li class="mb-2"><%= link_to "Terms of use", "#", class: "text-decoration-none link-dark" %></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-inline m-5">
          <h6>We are in social networks</h6>
          <div class="d-flex">
            <li><%= link_to image_tag("icons/dz.svg", size: "24x24"), "#", class: "text-decoration-none link-dark" %></li>
            <li class="ms-4"><%= link_to image_tag("icons/vk.svg", size: "24x24"), "#", class: "text-decoration-none link-dark" %></li>
            <li class="ms-4"><%= link_to image_tag("icons/yt.svg", size: "24x24"), "#", class: "text-decoration-none link-dark" %></li>
            <li class="ms-4"><%= link_to image_tag("icons/telegram.svg", size: "24x24"), "#", class: "text-decoration-none link-dark" %></li>
          </div>
          <li class="mt-4 h5"><b>+375(29) 800-80-80</b></li>
          <span>help desk</span>
          <li class="mt-3 h5"><b>+375(29) 800-80-81</b></li>
          <span>online store</span>
          <div class="d-flex mt-5">
            <li><%= image_tag("icons/master_card.svg") %></li>
            <li class="ms-4"><%= image_tag("icons/visa.svg") %></li>
            <li class="ms-4"><%= image_tag("icons/mir.svg") %></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
