<%= form_with(model: order) do |form| %>
  <%= form_error_notification(order) %>

  <div>
    <%= form.hidden_field :user_id %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
