<%= form_with model: @order do |order| %>
  <%= form_error_notification(@order) %>

  <ul class="list-inline">
    <div class="row">
      <li class="col h4"><b>Customer:</b></li>
      <li class="col h5"><%= @order.user.full_name if @order.user %></li>
    </div>
    <div class="row">
      <li class="col h4"><b>Status:</b></li>
      <li class="col h5"><%= @order.status %></li>
    </div>
    <div class="row">
      <li class="col h4"><b>Items count:</b></li>
      <li class="col h5"><%= @order_items.size %></li>
    </div>
  </ul>

  <%= render "order_items/order_item" %>

  <ul class="list-inline">
    <div class="row align-items-end">
      <li class="col h4"><b>Order Total:</b></li>
      <li class="col h5"><%= number_to_currency(@order.total) %></li>
    </div>

    <% if current_user.present? %>
      <%= render partial: "address", locals: { order: order }  %>
    <% end %>
  </ul>

  <div class="d-flex justify-content-center mt-5" data-address-target="hideButtons">
    <% if current_user.addresses.present? %>
      <%= order.submit "Submit Order", class: "btn btn-primary mb-5" %>
    <% else %>
      <%= order.submit "Submit Order", class: "btn btn-primary mb-5 disabled" %>
    <% end %>
    <%= link_to "Empty Cart", @order, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger ms-5 mb-5"%>
  </div>
<% end %>
