<div class="bg-light pt-2 pb-2 mt-5">
  <h2 class="text-center mt-5 mb-5">Please, confirm your order</h2>
  <div class="container w-50 shadow-lg p-5 mb-5 bg-body rounded">
    <div class="d-flex justify-content-center">
      <div class="mx-auto">
        <div class="d-flex">
          <h4 class="me-3"><strong>Customer name:</strong></h4>
          <h5><%= @order.user.full_name %></h5>
        </div>
        <div class="d-flex">
          <h4><strong>Order:</strong></h4>
          <ol>
            <% @order.order_items.each do |order_item| %>
              <li class="d-flex">
                <h5 class="me-3"><%= order_item.product.title %>:</h5>
                <div class="h5">
                  <i class="me-2">price</i><i><%= order_item.product.price_cents %></i>
                  <i class="me-2">for</i><i><%= order_item.quantity %></i>
                </div>
              </li>
            <% end %>
          </ol>
        </div>
        <div class="d-flex">
          <h4 class="me-3"><strong>Total amount:</strong></h4>
          <h5><%= @order.total %></h5>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <%= button_to "Confirm Order", checkout_create_path, data: { turbo: false, disable_with: "validating..."},
                                                          class: "btn btn-primary mb-5" %>
    </div>
  </div>
</div>
