<%= form_with(model: address) do |form| %>
  <%= form_error_notification(address) %>

  <div>
    <%= form.label :line1, style: "display: block" %>
    <%= form.text_field :line1 %>
  </div>

  <div>
    <%= form.label :line2, style: "display: block" %>
    <%= form.text_field :line2 %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :zip, style: "display: block" %>
    <%= form.text_field :zip %>
  </div>

  <div>
    <%= form.hidden_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
