<div class="row justify-content-center">
  <div class="col-4 shadow p-5 mb-5 bg-body rounded">
    <%= form_with model: [:admin, product] do |form| %>
      <%= form_error_notification(product) %>

      <div class="mt-3">
        <%= form.label :category, style: "display: block" %>
        <%= form.collection_select :category_id, Category.all, :id, :name, {}, class: "form-select" %>
      </div>

      <div class="mt-3">
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title, class: "form-control", required: true %>
      </div>

      <div class="row">
        <div class="col mt-3">
          <%= form.label :price %>
          <%= form.text_field :price_cents, class: "form-control", placeholder: "like 2.99", required: true %>
        </div>

        <div class="col mt-3">
          <%= form.label :currency %>
          <%= form.select :currency, ["usd", "eur", "pln", "rub", "byn", "uah"], {}, class: "form-select" %>
        </div>

        <div class="col mt-3">
          <%= form.label :in_stock, style: "display: block" %>
          <%= form.text_field :stock, class: "form-control", required: true %>
        </div>
      </div>

      <div class="mt-3">
        <%= form.label :description, style: "display: block" %>
        <%= form.text_area :description, class: "form-control", required: true %>
      </div>

      <div class="mt-3">
        <%= form.label :image, style: "display: block" %>
        <%= form.file_field :image, class: "form-control", required: true %>
      </div>

      <div class="mt-5 text-center">
        <%= form.submit :Save, class: "btn btn-success me-2 col-3" %>
        <%= link_to "Cancel", admin_products_path, class: "btn btn-warning me-2 col-3", required: true %>
      </div>
    <% end %>
  </div>
</div>
