<div class="row mt-5">
  <div class="d-flex gap-3">
    <div class="col  border border-light">
      <%= image_tag "#{@photo_desserts}" %>
      <h3 class=" mb-3 mt-3">
        <%= link_to "Cakes, desserts, sweet pastries", "#", class: "text-decoration-none link-dark" %>
      </h3>
    </div>
    <div class="col border border-light">
      <%= image_tag "#{@photo_seafood}" %>
      <h3 class=" mb-3 mt-3">
        <%= link_to "Fish, caviar, seafood", "#", class: "text-decoration-none link-dark" %>
      </h3>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="d-flex gap-3 border border-light">
    <div class="col">
      <%= image_tag "#{@photo_fresh_vegetables}" %>
      <h3 class=" mb-3 mt-3">
        <%= link_to "Vegetables", "#", class: "text-decoration-none link-dark" %>
      </h3>
    </div>
    <div class="col">
      <%= image_tag "#{@photo_berries}" %>
      <h3 class=" mb-3 mt-3">
        <%= link_to "Berries", "#", class: "text-decoration-none link-dark" %>
      </h3>
    </div>
    <div class="col">
      <%= image_tag "#{@photo_meat}" %>
      <h3 class=" mb-3 mt-3">
        <%= link_to "Fresh meat products", "#", class: "text-decoration-none link-dark" %>
      </h3>
    </div>
  </div>
</div>

<div class="row mt-5 position-relative">
  <%= image_tag "#{@photo_homemade_baking}" %>
  <div class="position-absolute p-5 m-3">
    <h2 class="text-white"><b>Title</b></h2>
    <p class="h4 mt-4 text-white">Handmade sweet masterpieces according to the recipes of our Pastry Chef. Individual desserts,
                                  variety of fillings, </br> individual approach! Discounts for birthday people.</p>
    <%= link_to "Learn more", "#", class: "btn btn-success mt-3" %>
  </div>
</div>
