<div class="row mt-5">
  <div class="d-flex gap-3">
    <div class="col  border border-light">
      <%= image_tag("products/sweet_cake.jpg", alt: "", style: "width:100") %>
      <h3 class=" mb-3 mt-3">
        <%= link_to "Cakes, desserts, sweet pastries", "#", class: "text-decoration-none link-dark" %>
      </h3>
    </div>
    <div class="col border border-light">
      <%= image_tag("products/fish.jpg", alt: "", style: "width:100") %>
      <h3 class=" mb-3 mt-3">
        <%= link_to "Fish, caviar, seafood", "#", class: "text-decoration-none link-dark" %>
      </h3>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="d-flex gap-3 border border-light">
    <div class="col">
      <%= image_tag("products/many_vegetables.jpg", alt: "") %>
      <h3 class=" mb-3 mt-3">
        <%= link_to "Banner 3", "#", class: "text-decoration-none link-dark" %>
      </h3>
    </div>
    <div class="col">
      <%= image_tag("products/berries.jpg", alt: "") %>
      <h3 class=" mb-3 mt-3">
        <%= link_to "Banner 4", "#", class: "text-decoration-none link-dark" %>
      </h3>
    </div>
    <div class="col">
      <%= image_tag("products/steak.jpg", alt: "") %>
      <h3 class=" mb-3 mt-3">
        <%= link_to "Banner 5", "#", class: "text-decoration-none link-dark" %>
      </h3>
    </div>
  </div>
</div>
