<div class="row mt-5">
  <h2 class="mt-5"><b>News</b></h2>
</div>
<div class="row mt-2">
  <figure class="col figure">
    <%= image_tag("products/news/large_Фото__9_.jpg", alt: "", size: "328x328", class: "figure-img img-fluid rounded") %>
    <figcaption class="figure-caption text-start mb-3 mt-3">
      <b><%= link_to "Selected fruits and vegetables, at an attractive price", "#", class: "text-decoration-none link-dark" %></b></br>
      <time>10.11.2020</time>
    </figcaption>
  </figure>
  <figure class="col figure">
    <%= image_tag("products/news/large_Новость.jpg", alt: "", size: "328x328", class: "figure-img img-fluid rounded") %>
    <figcaption class="figure-caption text-start mb-3 mt-3">
      <b><%= link_to "Spanish Cuisine Days", "#", class: "text-decoration-none link-dark" %></b></br>
      <time>10.11.2020</time>
    </figcaption>
  </figure>
  <figure class="col figure">
    <%= image_tag("products/news/large_Фото__8_.jpg", alt: "", size: "328x328", class: "figure-img img-fluid rounded") %>
    <figcaption class="figure-caption text-start mb-3 mt-3">
      <b><%= link_to "Coffee bean discount", "#", class: "text-decoration-none link-dark" %></b></br>
      <time>10.11.2020</time>
    </figcaption>
  </figure>
  <figure class="col figure">
    <%= image_tag("products/news/large_Фото.jpg", alt: "", size: "328x328", class: "figure-img img-fluid rounded") %>
    <figcaption class="figure-caption text-start mb-3 mt-3">
      <b><%= link_to "40% discount on all pastries after 19:00", "#", class: "text-decoration-none link-dark" %></b></br>
      <time>10.11.2020</time>
    </figcaption>
  </figure>
</div>
