<div class="d-flex justify-content-between mt-5">
  <h2 class="mb-3"><b>New arrival</b></h2>
  <div class="row mb-3 align-items-center">
    <div class="col"><%= link_to image_tag("icons/icons8-left-arrow-34.png"), "#", class: "" %></div>
    <div class="col"><%= link_to image_tag("icons/icons8-arrow-right-34.png"), root_path(@new_arrival), class: "" %></div>
  </div>
</div>
<div class="d-flex gap-3 overflow-auto">
  <% @new_arrivals.each do |product| %>
      <ul class="list-inline border border-light">
        <li><%= image_tag product.image_url(:small).to_s, class: "text-decoration-none" if product.image? %></li>
        <li class="ms-3"><%= product.title %>, <%= product.description %></li>
        <li class="ms-3 mt-3 h3"><b><%= product.price_cents %><%= currency_of_price(product.currency) %></b></li>
        <li class="ms-3 mt-3"><i><%= print_stock(product.stock) %></i></li>
        <li>
          <% if !current_user&.admin? %>
            <%= button_to order_items_path(product_id: product.id), class: "btn btn-success col-12" do %>
              Add&nbsp;to&nbsp;Cart
              <%= image_tag("icons/cart_white.png", size: "28x26", class: "ms-3") %>
            <% end %>
          <% else %>
            <%= button_to "#", class: "btn btn-success col-12" do %>
              Add&nbsp;to&nbsp;Cart
              <%= image_tag("icons/cart_white.png", size: "28x26", class: "ms-3") %>
            <% end %>
          <% end %>
        </li>
      </ul>
  <% end %>
</div>
