<div class="row mt-5">
  <div class="col">
    <h2 class="mt-3 mb-3"><b>Water, juices, drinks</b></h2>
  </div>
</div>
<div class="d-flex gap-3 overflow-auto">
  <% @juices.each do |product| %>
    <ul class="list-inline border border-light">
      <li><%= image_tag "products/juices/#{product.image_url}", size: "220x220", class: "text-decoration-none" %></li>
      <li class="ms-3"><%= product.title %>, <%= product.description %></li>
      <li class="ms-3 mt-3 h3"><b><%= print_price(product.price) %></b></li>
      <li class="ms-3 mt-3"><i><%= print_stock(product.stock) %></i></li>
      <li>
        <%= button_to order_items_path(product_id: product.id), class: "btn btn-success col-12" do %>
          Add&nbsp;to&nbsp;Cart
          <%= image_tag("icons/cart_white.png", size: "28x26", class: "ms-3") %>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>

<div class="row mt-5">
  <div class="col">
    <h2 class="mt-3 mb-3"><b>Nuts</b></h2>
  </div>
</div>
<div class="d-flex gap-3 overflow-auto">
  <% @nuts.each do |product| %>
    <ul class="list-inline border border-light">
      <li><%= image_tag "products/nuts/#{product.image_url}", size: "220x220", class: "text-decoration-none" %></li>
      <li class="ms-3"><%= product.title %>, <%= product.description %></li>
      <li class="ms-3 mt-3 h3"><b><%= print_price(product.price) %></b></li>
      <li class="ms-3 mt-3"><i><%= print_stock(product.stock) %></i></li>
      <li>
        <%= button_to order_items_path(product_id: product.id), class: "btn btn-success col-12" do %>
          Add&nbsp;to&nbsp;Cart
          <%= image_tag("icons/cart_white.png", size: "28x26", class: "ms-3") %>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
