<%= render "shared/search" %>
<%= render "shared/carousel" %>
<%= render "new_arrival" %>
<%= render "banners" %>

<div class="row mt-5 position-relative">
  <%= image_tag("https://static.insales-cdn.com/r/n4O3wnd5gDE/rs:fit:1408:0:1/plain/files/1/2281/14797033/original/info_2.jpg",
                                                                                                          size: "1408x318") %>
  <div class="position-absolute p-5 m-3">
    <h2 class="text-white"><b>Title</b></h2>
    <p class="h4 mt-4 text-white">Handmade sweet masterpieces according to the recipes of our Pastry Chef. Individual desserts,
                                  variety of fillings, </br> individual approach! Discounts for birthday people.</p>
    <%= link_to "Learn more", "#", class: "btn btn-success mt-3" %>
  </div>
</div>

<%= render "offers" %>
<%= render "benefits" %>
<%= render "news" %>
<%= render "customer_reviews" %>
<%= render "feedback_form" %>
